@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,100;0,300;0,700;1,300&display=swap");
span {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.dropbtn {
  background-color: #1ca152;
  color: black;
  padding: 16px;
  border: none;
  text-align: center;
  width: 100vw;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.htmlbtn {
  background-color: #1ca152;
  color: black;
  padding: 16px;
  border: none;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  max-width: 90%;
  align-self: center;
}

.Characterbtn {
  background-color: #1ca152;
  color: black;
  padding: 16px;
  border: none;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  max-width: 90%;
  align-self: center;
}

#myBtn {
  background-color: transparent;
  height: 300px;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: black;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  margin-bottom: 30px;
}

#myBtn-2 {
  background-color: transparent;
  height: 300px;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: black;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

.enemybtn {
  background-color: #1ca152;
  color: black;
  padding: 16px;
  border: none;
  text-align: center;
  margin-top: 10px;
  margin-left: 6%;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  width: 60%;
  align-self: center;
}

.netbtn {
  background-color: #1ca152;
  color: black;
  padding: 16px;
  border: none;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  max-width: 80%;
  align-self: center;
}

.netbtn:hover {
  background-color: white;
}

.netmatters {
  display: flex;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  align-items: center;
  margin-top: 110%;
}

.javabtn {
  background-color: #1ca152;
  color: black;
  padding: 16px;
  border: none;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  max-width: 90%;
  align-self: center;
}

.javabtn:hover {
  background-color: white;
}

.htmlbtn:hover {
  background-color: white;
}

.Characterbtn:hover {
  background-color: white;
}

.enemybtn:hover {
  background-color: white;
}

#java {
  color: white;
}

.java {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 1;
  align-items: center;
}

.java-caption {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 400;
  visibility: hidden;
  letter-spacing: 0.4px;
  z-index: 4;
}

.java-content {
  display: none;
  background-color: #1ca152;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  color: black;
  padding: 16px;
  border: none;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  margin-left: 1.75%;
  margin-top: 0%;
  max-width: 90%;
  align-self: center;
}

.java-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: "Roboto", "sans serif";
}

.socials {
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  padding-bottom: 2%;
}

.socials-small {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  padding-left: 30%;
}

.socials .linkbtn {
  height: 45px;
  width: 55px;
  margin-left: -30px;
  margin-right: 10px;
  background-color: transparent;
}

.linkbtn-small {
  height: 50px;
  width: 50px;
  margin-right: 10%;
  margin-left: -100%;
  background-color: transparent;
}

.linkbtn-small:hover {
  border-radius: 20%;
  background-color: lightgreen;
}

.socials .gitbtn {
  height: 40px;
  width: 45px;
  color: black;
  border-style: solid;
  border-color: white;
  border-radius: 100%;
  border-width: 5px;
  margin-left: 25px;
}

.gitbtn-small {
  height: 43px;
  width: 43px;
  color: black;
  border-style: solid;
  border-color: white;
  border-radius: 100%;
  border-width: 5px;
}

.gitbtn-small:hover {
  border-color: white;
  border-radius: 100%;
  background-color: lightgreen;
}

.gitbtn:hover {
  border-color: white;
  border-radius: 100%;
  background-color: lightgreen;
}

.linkbtn:hover {
  background-color: white;
  border-radius: 100%;
  background-color: lightgreen;
}

.html-content {
  display: none;
  background-color: #1ca152;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  color: black;
  padding: 16px;
  border: none;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  margin-left: 1.75%;
  margin-top: 0%;
  max-width: 90%;
  align-self: center;
}

.html-img {
  margin: 15%;
  max-width: 300%;
}

.netmatters-content {
  background-color: #1ca152;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-align: center;
  color: black;
  padding: 16px;
  border: none;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "sans serif";
  margin-left: 1.75%;
  margin-top: 0%;
  max-width: 90%;
  align-self: center;
}

.netmatters-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: "Roboto", "sans serif";
}

.netmatters-content a:hover {
  color: white;
}

.dropbtn:hover {
  color: white;
}

.dropdown {
  position: fixed;
  top: 0;
  display: inline-block;
  text-align: center;
  z-index: 10;
}

.dropdown-content {
  display: none;
  background-color: #1ca152;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
}

.dropdown-content * {
  transition: all 0.35s ease;
}

.in {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}

.in a {
  padding: 0.5em 0.8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.in a::before,
.in a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.in a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translate(-100%, 50%);
}

.in a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: translate(100%, -50%);
}

.in a:hover:before,
.in a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.in a:hover {
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: "Roboto", "sans serif";
  z-index: 10;
}

.dropdown-content a:hover {
  color: white;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  text-align: center;
}

.sidebar {
  display: none;
  z-index: 100;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-x: hidden;
  width: 100%;
  padding: 30px;
}

.caption-text-about {
  margin-top: 420px;
  visibility: hidden;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* color: var(--yellow-color);
   border: 30px solid rgba(0, 0, 0, 0.5);
   border-right: 5px solid rgba(0, 0, 0, 0.5);
   border-left: 5px solid rgba(0, 0, 0, 0.5);
   border-bottom: 24px solid rgba(0, 0, 0, 0.5);
   background-color: rgba(0, 0, 0, 0.5);;
   clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%,
    80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
    height:700px;
    display: flex;
    flex-direction:column;
    align-items:center ;
    justify-content: center;
    */
}

.professional {
  z-index: 6;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  margin: 10px;
  margin-top: 30px;
}

.personal {
  z-index: 6;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#myBtn:hover {
  border-color: white;
}

#myBtn:hover h1 {
  color: #1ca152;
}

#myBtn-1:hover {
  border-color: white;
}

#myBtn-1:hover h1 {
  color: #1ca152;
}

#glitch {
  padding-top: 90px;
}

:root {
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color: #1ca152;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: black;
  --blue-color: #136377;
  --green-color: #446d44;
  --purple-color: purple;
}

body {
  background-color: var(--yellow-color);
  min-height: 220vh;
  padding: 30px;
}

body * {
  font-family: "Advent Pro", arial;
}

/* Titles */
h1.cyberpunk,
h2.cyberpunk,
h3.cyberpunk,
h4.cyberpunk {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px;
}

h2.cyberpunk {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
}

h3.cyberpunk {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

h4.cyberpunk {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
}

h1.cyberpunk:before,
h2.cyberpunk:before,
h3.cyberpunk:before,
h4.cyberpunk:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 2px;
  width: 100%;
  height: 10px;
  background-color: white;
  -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
          clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h1.cyberpunk.glitched {
  -webkit-animation-name: h1glitched;
          animation-name: h1glitched;
  -webkit-animation-duration: calc(var(--glitched-duration) * 1.4);
          animation-duration: calc(var(--glitched-duration) * 1.4);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

h2.cyberpunk.glitched {
  -webkit-animation-name: h1glitched;
          animation-name: h1glitched;
  -webkit-animation-duration: calc(var(--glitched-duration) * 1.7);
          animation-duration: calc(var(--glitched-duration) * 1.7);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

h3.cyberpunk.glitched {
  -webkit-animation-name: h1glitched;
          animation-name: h1glitched;
  -webkit-animation-duration: calc(var(--glitched-duration) * 1.1);
          animation-duration: calc(var(--glitched-duration) * 1.1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

h4.cyberpunk.glitched {
  -webkit-animation-name: h1glitched;
          animation-name: h1glitched;
  -webkit-animation-duration: calc(var(--glitched-duration) * 2.1);
          animation-duration: calc(var(--glitched-duration) * 2.1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}
h1.cyberpunk.glitched:before {
  -webkit-animation-name: h1beforeglitched;
          animation-name: h1beforeglitched;
  -webkit-animation-duration: calc(var(--glitched-duration) * 2);
          animation-duration: calc(var(--glitched-duration) * 2);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  11% {
    transform: skew(0deg);
    left: 2px;
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  50% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  51% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  59% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  60% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  100% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}

@keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  11% {
    transform: skew(0deg);
    left: 2px;
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  50% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  51% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  59% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  60% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  100% {
    transform: skew(0deg);
    -webkit-clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
            clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}
h2.cyberpunk:before {
  -webkit-clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
          clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h2.cyberpunk.glitched:before {
  -webkit-animation-name: h2beforeglitched;
          animation-name: h2beforeglitched;
  -webkit-animation-duration: calc(var(--glitched-duration) * 2);
          animation-duration: calc(var(--glitched-duration) * 2);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes h2beforeglitched {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1);
  }
  11% {
    transform: scaleY(-1);
  }
  50% {
    transform: scaleY(-1);
  }
  51% {
    transform: scaleY(1);
  }
  59% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes h2beforeglitched {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1);
  }
  11% {
    transform: scaleY(-1);
  }
  50% {
    transform: scaleY(-1);
  }
  51% {
    transform: scaleY(1);
  }
  59% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
h3.cyberpunk:before {
  -webkit-clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
          clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4.cyberpunk:before {
  -webkit-clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
          clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h1.cyberpunk:after,
h2.cyberpunk:after,
h3.cyberpunk:after,
h4.cyberpunk:after,
p.cyberpunk:after {
  content: "_";
  -webkit-animation-name: hxafter;
          animation-name: hxafter;
  -webkit-animation-duration: var(--glitched-duration);
          animation-duration: var(--glitched-duration);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

h3.cyberpunk:after,
h4.cyberpunk:after {
  animation-direction: reverse;
  -webkit-animation-duration: calc(var(--glitched-duration) / 2);
          animation-duration: calc(var(--glitched-duration) / 2);
}

@-webkit-keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* Separator */
hr {
  height: 14px;
  background-color: #000;
  width: 100%;
  -webkit-clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
          clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
  -webkit-animation-name: hr;
          animation-name: hr;
  -webkit-animation-duration: var(--glitched-long-duration);
          animation-duration: var(--glitched-long-duration);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

@keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  background-color: var(--yellow-color);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  -webkit-transition: background var(--glitched-duration);
  transition: background var(--glitched-duration);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}

.flip-card-1 {
  padding-top: 35px;
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-top: 0;
}

/*.flip-card-1:hover
{
  z-index: 100;
}*/
/* This container is needed to position the front and back side */
.flip-card-inner-1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.flip-card-1:hover .flip-card-inner-1 {
  transform: rotateY(180deg);
  z-index:100;
}*/
/* Position the front and back side */
.flip-card-front-1, .flip-card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-2 {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: black;
  margin: 35% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-2 {
  background-color: black;
  margin: 35% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 100;
}

.close-2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front-1 {
  z-index: 5;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: black;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

/* Style the back side */
.flip-card-back-1 {
  transform: rotateY(180deg);
}

/*.flip-card-1:hover + .flip-card-2
{
 visibility: hidden;
 flex-direction: reverse;

}*/
.flip-card-2 {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-top: 100px;
}

/* This container is needed to position the front and back side */
.flip-card-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container 
.flip-card-2:hover .flip-card-inner-2 {
  transform: rotateY(180deg);
  z-index:100;
}*/
/* Position the front and back side */
.flip-card-front-2, .flip-card-back-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front-2 {
  z-index: 5;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: black;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

/* Style the back side */
.flip-card-back-2 {
  transform: rotateY(180deg);
}

.grain {
  margin-top: 330px;
}

.caption-text-scs {
  margin-top: 30px;
  visibility: hidden;
  padding-top: 750px;
  position: relative;
  width: 100%;
  height: 100%;
}

.flex-container-1 {
  height: 300%;
}

.scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  background-color: rgba(28, 161, 82, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
}

.caption-text-index {
  z-index: 5;
  margin-top: 250px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  z-index: 5;
  color: var(--yellow-color);
  border: 30px solid #1ca152;
  border-right: 5px solid #1ca152;
  border-left: 5px solid #1ca152;
  border-bottom: 24px solid #1ca152;
  background-color: #000;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

.contact-form {
  position: absolute;
  visibility: hidden;
  top: 90vh;
  z-index: 5;
}

.page-content {
  overflow-y: auto;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-image {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  filter: brightness(0.5);
  width: 100vw;
  height: 130%;
  z-index: 1;
}

.drop-glitch {
  text-align: center;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.dropbtn :hover {
  color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
}

.owl-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
  border: blue solid 3px;
}

.dropbtn {
  position: relative;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.dropbtn::before {
  content: attr(data-text);
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 black;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.dropbtn::after {
  content: attr(data-text);
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px black;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(43px, 9999px, 26px, 0);
    transform: skew(0.41deg);
  }
  5% {
    clip: rect(52px, 9999px, 7px, 0);
    transform: skew(0.15deg);
  }
  10% {
    clip: rect(41px, 9999px, 22px, 0);
    transform: skew(0.86deg);
  }
  15% {
    clip: rect(39px, 9999px, 92px, 0);
    transform: skew(0.58deg);
  }
  20% {
    clip: rect(19px, 9999px, 17px, 0);
    transform: skew(0.47deg);
  }
  25% {
    clip: rect(89px, 9999px, 25px, 0);
    transform: skew(0.47deg);
  }
  30% {
    clip: rect(42px, 9999px, 58px, 0);
    transform: skew(0.08deg);
  }
  35% {
    clip: rect(39px, 9999px, 82px, 0);
    transform: skew(0.41deg);
  }
  40% {
    clip: rect(29px, 9999px, 24px, 0);
    transform: skew(0.19deg);
  }
  45% {
    clip: rect(21px, 9999px, 7px, 0);
    transform: skew(0.01deg);
  }
  50% {
    clip: rect(66px, 9999px, 75px, 0);
    transform: skew(0.5deg);
  }
  55% {
    clip: rect(73px, 9999px, 44px, 0);
    transform: skew(0.92deg);
  }
  60% {
    clip: rect(52px, 9999px, 68px, 0);
    transform: skew(0.98deg);
  }
  65% {
    clip: rect(20px, 9999px, 40px, 0);
    transform: skew(0.09deg);
  }
  70% {
    clip: rect(85px, 9999px, 29px, 0);
    transform: skew(0.04deg);
  }
  75% {
    clip: rect(3px, 9999px, 57px, 0);
    transform: skew(0.2deg);
  }
  80% {
    clip: rect(40px, 9999px, 29px, 0);
    transform: skew(0.45deg);
  }
  85% {
    clip: rect(99px, 9999px, 51px, 0);
    transform: skew(0.17deg);
  }
  90% {
    clip: rect(85px, 9999px, 91px, 0);
    transform: skew(0.11deg);
  }
  95% {
    clip: rect(31px, 9999px, 19px, 0);
    transform: skew(0.83deg);
  }
  100% {
    clip: rect(94px, 9999px, 40px, 0);
    transform: skew(1deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(43px, 9999px, 26px, 0);
    transform: skew(0.41deg);
  }
  5% {
    clip: rect(52px, 9999px, 7px, 0);
    transform: skew(0.15deg);
  }
  10% {
    clip: rect(41px, 9999px, 22px, 0);
    transform: skew(0.86deg);
  }
  15% {
    clip: rect(39px, 9999px, 92px, 0);
    transform: skew(0.58deg);
  }
  20% {
    clip: rect(19px, 9999px, 17px, 0);
    transform: skew(0.47deg);
  }
  25% {
    clip: rect(89px, 9999px, 25px, 0);
    transform: skew(0.47deg);
  }
  30% {
    clip: rect(42px, 9999px, 58px, 0);
    transform: skew(0.08deg);
  }
  35% {
    clip: rect(39px, 9999px, 82px, 0);
    transform: skew(0.41deg);
  }
  40% {
    clip: rect(29px, 9999px, 24px, 0);
    transform: skew(0.19deg);
  }
  45% {
    clip: rect(21px, 9999px, 7px, 0);
    transform: skew(0.01deg);
  }
  50% {
    clip: rect(66px, 9999px, 75px, 0);
    transform: skew(0.5deg);
  }
  55% {
    clip: rect(73px, 9999px, 44px, 0);
    transform: skew(0.92deg);
  }
  60% {
    clip: rect(52px, 9999px, 68px, 0);
    transform: skew(0.98deg);
  }
  65% {
    clip: rect(20px, 9999px, 40px, 0);
    transform: skew(0.09deg);
  }
  70% {
    clip: rect(85px, 9999px, 29px, 0);
    transform: skew(0.04deg);
  }
  75% {
    clip: rect(3px, 9999px, 57px, 0);
    transform: skew(0.2deg);
  }
  80% {
    clip: rect(40px, 9999px, 29px, 0);
    transform: skew(0.45deg);
  }
  85% {
    clip: rect(99px, 9999px, 51px, 0);
    transform: skew(0.17deg);
  }
  90% {
    clip: rect(85px, 9999px, 91px, 0);
    transform: skew(0.11deg);
  }
  95% {
    clip: rect(31px, 9999px, 19px, 0);
    transform: skew(0.83deg);
  }
  100% {
    clip: rect(94px, 9999px, 40px, 0);
    transform: skew(1deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(41px, 9999px, 76px, 0);
    transform: skew(0.77deg);
  }
  5% {
    clip: rect(20px, 9999px, 49px, 0);
    transform: skew(0.51deg);
  }
  10% {
    clip: rect(27px, 9999px, 3px, 0);
    transform: skew(0.69deg);
  }
  15% {
    clip: rect(41px, 9999px, 63px, 0);
    transform: skew(0.82deg);
  }
  20% {
    clip: rect(99px, 9999px, 16px, 0);
    transform: skew(0.85deg);
  }
  25% {
    clip: rect(72px, 9999px, 65px, 0);
    transform: skew(0.06deg);
  }
  30% {
    clip: rect(6px, 9999px, 40px, 0);
    transform: skew(0.09deg);
  }
  35% {
    clip: rect(28px, 9999px, 79px, 0);
    transform: skew(0.03deg);
  }
  40% {
    clip: rect(84px, 9999px, 78px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(71px, 9999px, 99px, 0);
    transform: skew(0.75deg);
  }
  50% {
    clip: rect(15px, 9999px, 82px, 0);
    transform: skew(0.79deg);
  }
  55% {
    clip: rect(93px, 9999px, 3px, 0);
    transform: skew(0.26deg);
  }
  60% {
    clip: rect(87px, 9999px, 42px, 0);
    transform: skew(0.3deg);
  }
  65% {
    clip: rect(97px, 9999px, 66px, 0);
    transform: skew(0.99deg);
  }
  70% {
    clip: rect(30px, 9999px, 13px, 0);
    transform: skew(0.21deg);
  }
  75% {
    clip: rect(5px, 9999px, 39px, 0);
    transform: skew(0.1deg);
  }
  80% {
    clip: rect(8px, 9999px, 72px, 0);
    transform: skew(0.48deg);
  }
  85% {
    clip: rect(60px, 9999px, 91px, 0);
    transform: skew(0.71deg);
  }
  90% {
    clip: rect(57px, 9999px, 36px, 0);
    transform: skew(0.48deg);
  }
  95% {
    clip: rect(81px, 9999px, 50px, 0);
    transform: skew(0.74deg);
  }
  100% {
    clip: rect(19px, 9999px, 100px, 0);
    transform: skew(0.87deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(41px, 9999px, 76px, 0);
    transform: skew(0.77deg);
  }
  5% {
    clip: rect(20px, 9999px, 49px, 0);
    transform: skew(0.51deg);
  }
  10% {
    clip: rect(27px, 9999px, 3px, 0);
    transform: skew(0.69deg);
  }
  15% {
    clip: rect(41px, 9999px, 63px, 0);
    transform: skew(0.82deg);
  }
  20% {
    clip: rect(99px, 9999px, 16px, 0);
    transform: skew(0.85deg);
  }
  25% {
    clip: rect(72px, 9999px, 65px, 0);
    transform: skew(0.06deg);
  }
  30% {
    clip: rect(6px, 9999px, 40px, 0);
    transform: skew(0.09deg);
  }
  35% {
    clip: rect(28px, 9999px, 79px, 0);
    transform: skew(0.03deg);
  }
  40% {
    clip: rect(84px, 9999px, 78px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(71px, 9999px, 99px, 0);
    transform: skew(0.75deg);
  }
  50% {
    clip: rect(15px, 9999px, 82px, 0);
    transform: skew(0.79deg);
  }
  55% {
    clip: rect(93px, 9999px, 3px, 0);
    transform: skew(0.26deg);
  }
  60% {
    clip: rect(87px, 9999px, 42px, 0);
    transform: skew(0.3deg);
  }
  65% {
    clip: rect(97px, 9999px, 66px, 0);
    transform: skew(0.99deg);
  }
  70% {
    clip: rect(30px, 9999px, 13px, 0);
    transform: skew(0.21deg);
  }
  75% {
    clip: rect(5px, 9999px, 39px, 0);
    transform: skew(0.1deg);
  }
  80% {
    clip: rect(8px, 9999px, 72px, 0);
    transform: skew(0.48deg);
  }
  85% {
    clip: rect(60px, 9999px, 91px, 0);
    transform: skew(0.71deg);
  }
  90% {
    clip: rect(57px, 9999px, 36px, 0);
    transform: skew(0.48deg);
  }
  95% {
    clip: rect(81px, 9999px, 50px, 0);
    transform: skew(0.74deg);
  }
  100% {
    clip: rect(19px, 9999px, 100px, 0);
    transform: skew(0.87deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(-2deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(4deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(2deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(-2deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(4deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(2deg);
  }
}
.scroll-down {
  display: none;
}

#portfolio {
  padding-bottom: 10%;
}

.Main-page-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-image {
  display: flex;
  place-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-title {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 700;
  visibility: hidden;
  letter-spacing: 0.4px;
  z-index: 5;
  position: relative;
  top: 0;
}

.coding-title {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 20px;
  visibility: hidden;
  letter-spacing: 0.4px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 1700px;
}

.code-img {
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 1;
  align-items: center;
}

.img-text {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.netmatters-caption {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.html-caption {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 400;
  visibility: hidden;
  letter-spacing: 0.4px;
}

.java-caption {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 400;
  visibility: hidden;
  letter-spacing: 0.4px;
}

fieldset {
  border: none;
  position: absolute;
  z-index: 5;
  top: 150vh;
  width: 100%;
  align-content: center;
  justify-content: center;
}

#Subject {
  height: 150px;
}

#subject {
  color: white;
}

.contact {
  display: grid;
  font-family: "Roboto", "sans serif";
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  margin: 20px;
  position: left;
  width: 0px;
}

.contact-2 {
  display: grid;
  font-family: "Roboto", "sans serif";
  background-color: black;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  margin: 100px;
  position: left;
  border-color: black;
}

.contact-form h1 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.contact-form-2 h1 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.contact-form h3 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.contact-form-2 h3 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.contact-form h2 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.contact-form-2 h2 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.mb-3 {
  display: grid;
  font-family: "Roboto", "sans serif";
  background-color: black;
}

.form-label {
  color: white;
  font-family: "Roboto", "sans serif";
}

.form-control {
  background-color: #1ca152;
  color: white;
  border-color: white;
}

.form-control {
  color: white;
}

.submit {
  font-family: "Roboto", "sans serif";
  color: white;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: #1ca152;
  padding: 5px;
  border-radius: 8%;
  margin-top: 20px;
  width: 150px;
  align-items: center;
}

.submit {
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 25%;
}

.submit:before {
  content: "";
  background: #1ca152;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.submit:active {
  color: #000;
}

.submit:active:after {
  background: transparent;
}

.submit:hover:before {
  opacity: 1;
}

.submit:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
h1 {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

h2 {
  position: relative;
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.pages li {
  position: relative;
  width: auto;
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px white;
  background: #1ca152;
  text-align: center;
  margin-bottom: 5%;
  transition: all 0.1s;
  box-shadow: 0px 6px 0px darkgreen;
}

.pages li:active {
  box-shadow: 0px 2px 0px green;
  position: relative;
  top: 4px;
}

.img-text-me {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 40px;
  font-weight: 100px;
  letter-spacing: 0.4px;
}

.caption-text-code {
  display: flex;
  padding-top: 2200px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.flex-container-html-css {
  display: flex;
  flex-direction: column;
  padding: 15%;
}

.contact {
  display: grid;
  font-family: "Roboto", "sans serif";
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  margin: 20px;
}

.code-caption {
  font-size: 40px;
}

.code-caption-c {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 40px;
}

.game {
  padding: 20px;
  margin-top: 20px;
}

.code-img-title {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.coming-soon {
  width: 700px;
  height: auto;
}

.img-title-scs {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.img-text-scs {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: c;
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* Medium devices ? min-width: 768px and up (small screen/laptops)*/
@media screen and (min-width: 768px) {
  .pages * {
    box-sizing: border-box;
    transition: all 0.35s ease;
  }
  .pages li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
  }
  .pages a {
    padding: 0.5em 0.8em;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  .pages a::before,
.pages a::after {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all 0.35s ease;
    opacity: 0;
  }
  .pages a::before {
    content: "";
    right: 0;
    top: 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: translate(-100%, 50%);
  }
  .pages a:after {
    content: "";
    left: 0;
    bottom: 0;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: translate(100%, -50%);
  }
  .pages a:hover:before,
.pages a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
  }
  .pages a:hover {
    color: black;
  }
  #canvas {
    margin-left: 200px;
  }
  .pages {
    margin-left: 10%;
  }
  .in {
    width: 100%;
  }
  .pages a {
    padding: 0.5em 0.8em;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  fieldset {
    width: calc(100% - 200px);
    left: 20%;
    padding-bottom: 40px;
  }
  .scroll {
    margin-left: 190px;
    width: calc(100vw - 200px);
  }
  .caption-text-code {
    padding-top: 1800px;
  }
  .javabtn:hover {
    border-color: white;
  }
  .htmlbtn {
    border: none;
    margin-right: 10.5%;
    margin-left: 10%;
    margin-top: 20px;
    max-width: 40%;
  }
  .main-page {
    visibility: hidden;
    padding-top: -110px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .coding-title {
    font-family: "Roboto", "sans serif";
    color: white;
    display: block;
    text-align: center;
    line-height: 1.4;
    font-size: 25px;
    font-weight: 20px;
    visibility: hidden;
    letter-spacing: 0.4px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 800px;
  }
  .code-img {
    display: inline-block;
    width: 75%;
    text-align: center;
    z-index: 1;
    align-items: center;
    padding-left: 12%;
  }
  .netmatters {
    margin-top: 50%;
  }
  .submit {
    margin-left: 35%;
  }
  .dropbtn {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .caption-text {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    margin-left: 10px;
    margin-top: -400px;
  }
  .coding-title {
    font-family: "Roboto", "sans serif";
    color: white;
    display: block;
    text-align: center;
    line-height: 1.4;
    font-size: 25px;
    font-weight: 20px;
    visibility: hidden;
    letter-spacing: 0.4px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 800px;
  }
  .caption-text-scs {
    padding-top: 600px;
    position: relative;
    width: 80%;
    height: 100%;
    margin: 10px;
  }
  .caption-text-about {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hamburger {
    display: none;
  }
  .sidebar {
    display: flex;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #1ca152;
  }
  .pages {
    padding-top: 0px;
    margin-top: -10px;
  }
  .pages .nav-link-3 {
    padding-right: 29px;
  }
  .main-pages button {
    background-color: #1ca152;
    border: none;
  }
  .main-pages {
    width: 200px;
    align-items: center;
  }
  fieldset {
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
  }
  .pages li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: flex-start;
    color: white;
    font-family: "Roboto", "sans serif";
    font-size: 30px;
    font-weight: 700;
    border-color: white;
    justify-content: space-between;
    padding: 15px;
    margin-left: -15px;
    cursor: pointer;
  }
  .linkbtn {
    width: 31%;
    height: 31%;
  }
  .gitbtn {
    width: 26%;
    height: 26%;
  }
  .main-pages button {
    text-decoration: none;
    color: white;
    font-family: "Roboto", "sans serif";
    font-size: 95px;
    font-weight: 700;
    border-color: white;
    padding: 30px;
    line-height: 95px;
    cursor: pointer;
    padding-left: 68px;
  }
  .name {
    background-color: transparent;
    border-color: white;
    padding: 30px;
    text-decoration: none;
    width: 200px;
    cursor: pointer;
  }
  .Main-page {
    display: block;
    margin-left: 200px;
    z-index: 1;
    margin-top: 0;
    align-items: center;
  }
  .nav-link-2, .nav-link-3, .nav-link-4, .nav-link-5, .nav-link-6 {
    text-decoration: none;
    color: white;
    padding-left: 15%;
  }
  .java-content {
    display: none;
    background-color: #1ca152;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    color: black;
    padding: 16px;
    border: none;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", "sans serif";
    margin-left: 1.75%;
    margin-top: 0%;
    max-width: 90%;
    align-self: center;
  }
  .caption-text-scs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.scroll-down {
  position: absolute;
  top: 200%;
  left: 20%;
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  background-color: #1ca152;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 5px;
  border-radius: 8%;
  cursor: pointer;
}

.main-image {
  width: 100%;
}

.pages {
  padding: 10px;
}

.page-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  filter: brightness(0.5);
}

.caption-text-scs {
  display: flex;
  flex-direction: column;
}

.scroll-down {
  position: absolute;
  top: 200%;
  left: 20%;
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  background-color: #1ca152;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 5px;
  border-radius: 8%;
  cursor: pointer;
}

.main-image {
  width: 100%;
  padding-bottom: 50px;
}

.initial {
  text-decoration: none;
  color: white;
  font-family: "Roboto", "sans serif";
  font-size: 95px;
  font-weight: 700;
  border-color: white;
  padding: 30px;
  line-height: 95px;
  cursor: pointer;
}

.scroll-page {
  flex-direction: column;
  display: flex;
  width: calc(100% - 200px);
}

.name {
  background-color: transparent;
  border-color: white;
  padding: 30px;
  width: 200px;
  cursor: pointer;
}

/* Large devices ? min-width: 992px and up(small Desktop)*/
@media screen and (min-width: 992px) {
  .caption-text-code {
    padding-top: 1400px;
  }
  .netmatters {
    padding-top: 80px;
  }
  .netbtn {
    margin-left: 10%;
    margin-right: 10%;
  }
  .caption-text-scs {
    padding-top: 300px;
  }
}
/* Large devices ? min-width: 1025px and up(small Desktop)*/
@media screen and (min-width: 1025px) {
  .caption-text-code {
    display: flex;
    padding-top: 1300px;
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .netmatters {
    display: inline-block;
    width: 100%;
    text-align: center;
    z-index: 1;
    align-items: center;
    margin-top: 110%;
    margin-left: -8%;
  }
  .caption-text {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 1px;
    margin-top: 30px;
  }
  .caption-text-scs {
    margin-top: 30px;
    visibility: hidden;
    padding-top: 300px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .caption-text-port {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    margin-left: 80px;
    margin-top: -400px;
  }
  .submit {
    margin-left: 40%;
  }
}/*# sourceMappingURL=style.css.map */