@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,100;0,300;0,700;1,300&display=swap");
.main-pages {
  display: none;
}

.dropdown, .dropdown-toggle {
  display: none;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#canvas {
  background-color: black;
  display: block;
  margin: auto;
}

#logo {
  display: none;
}

.caption-text a {
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  width: 33px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-bars {
  overflow: hidden;
  font-size: 30px;
  background-color: black;
  padding: 15px;
  color: white;
  border-radius: 3px;
}

.page-image {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  filter: brightness(0.5);
  padding-bottom: 50px;
}

.vertical-menu a, .initial {
  background-color: #1ca152;
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: none;
}

.main-image-2 {
  display: none;
}

.page-image-2 {
  display: none;
}

.main-image {
  top: 0%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-title {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.img-text {
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.scroll {
  background-color: transparent;
  border: none;
}

.scroll-down {
  position: absolute;
  top: 200%;
  left: 25%;
  font-family: "Roboto", "sans serif";
  color: white;
  display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  background-color: transparent;
  cursor: pointer;
}

.contact {
  display: grid;
  font-family: "Roboto", "sans serif";
  background-color: black;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.mb-3 {
  display: grid;
  font-family: "Roboto", "sans serif";
  background-color: black;
}

.form-label {
  color: white;
  font-family: "Roboto", "sans serif";
}

#FirstName {
  color: white;
  font-family: "Roboto", "sans serif";
}

.form-control {
  background-color: #1ca152;
  color: white;
  border-color: white;
}

/* Small devices ? min-width: 576px and up*/
@media screen and (min-width: 576px) {
  .main-image-2 {
    top: 0%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .page-image-2 {
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .dropdown-menu {
    width: 100px;
    float: left;
    top: 0px;
    position: sticky;
    position: -webkit-sticky;
  }
  .vertical-menu a, .initial {
    background-color: green;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
  }
  .buttons {
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin: 15px;
    font-family: "Roboto", sans-serif;
    background-color: green;
    width: 10px;
    padding: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
  }
}
/*  Medium devices ? min-width: 768px and up*/
/*Large devices ? min-width 992px and up*/
/*Extra-large devices ? min-width: 1200px and up*//*# sourceMappingURL=style.css.map */