@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,100;0,300;0,700;1,300&display=swap');
 


.main-pages
{
display: none;
}
.dropdown, .dropdown-toggle 
{display:none}

body
{
    background-color: $background-color;
    overflow-x: hidden;
   
}

#canvas
{ background-color:$background-color; display:block; margin:auto;}

#logo{ display:none;}


//hamburger

.caption-text a {
 
  position:fixed;
  top: 0;
  left:0;
  top: 0;
  cursor: pointer;
  

  
  
}
.hamburger {
  position:fixed;
  top: 0;
  left:0;
  top: 0;
  width:33px;
  display:block;
   border: none;
   background-color: transparent;
   cursor: pointer;
   
 }

.fa-bars {

  overflow: hidden;
   font-size: 30px;
 background-color: $background-color;
   padding: 15px;
   color: white;
  
   border-radius: 3px;
}

//Main image and caption 

.page-image {
    
    height: 700px;
    object-fit: cover;
    position: relative;
    filter: brightness(0.5);
    @include image-padding;

}
 
    


//Navbar for bigger viewports

.vertical-menu a, .initial
{
  background-color:$matrix-green;
  color: white;
  display: block;
  padding:10px;
  text-decoration: none;
  position: sticky;
  position: -webkit-sticky;
  top:0px;
  display:none;
  
}
.main-image-2{
  display:none
}

.page-image-2
{
 display: none;
}

.main-image {
  top: 0%;
   width:100%;
   
   
  align-items:center;
  justify-content: center;
  
  background-size: cover;
  background-repeat: no-repeat;
  
}



.img-title 
{
    
   font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: $title-font-size;
  font-weight: $title-font-weight;

  letter-spacing: .4px;

}

.img-text 
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:$text-font-size;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
}

.scroll {
  background-color: transparent;
  border: none;
}

.scroll-down
{
  position: absolute;
  top: 200%;
  left: 25%;
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
  background-color: transparent;
  cursor: pointer;
  

}

//Email form

.contact
{
  display: grid;
  font-family: $main-font; 
  background-color:$background-color;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  @include section-padding;
}

.mb-3
{
  display: grid;
  font-family: $main-font; 
  background-color:$background-color;

  

}

.form-label
{
  color: white;
  font-family: $main-font;
}

#FirstName 

{
 color: white;
 font-family: $main-font;

}

.form-control

{
  background-color:$matrix-green;
  color: white;
border-color:white;

}


