@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,100;0,300;0,700;1,300&display=swap');



.Main-page
{
  display:block;
  

}

.sidebar 
{
  display:none;
}




body
{   
    height: 100%;
    width: 100%;
    background-color: $background-color;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;

   
}

.flex-container
  {   
      display:flex;
      flex-direction: column;
      background-color: $background-color;
      overflow-x: hidden;
      width: 100%;
      height: 100%

     
  }


.caption-text-about
{ 
  padding-top:190px;
  position:relative;
  width: 100%;
  height: 100%
  
}

.caption-text-scs
{ 
  padding-top:380px;
  position:relative;
  width: 100%;
  height: 100%
  
}

//hamburger





.hamburger {
  font-family: $main-font;
  color:white;
  background-color: transparent;
  display: block;
text-align: center;
line-height: 1.4;
font-size: $text-font-size;
font-weight: $title-font-weight;

letter-spacing: .4px;
}

//Main image and caption 

.page-image {
    
  
    object-fit: cover;
    position: relative;
    filter: brightness(0.5);
 

}

// scroll

 .scroll-down
{
 display:none
}




    


//Navbar for bigger viewports






.main-image {

  display: flex; 
  width:100%;
  align-items:center;
  justify-content: center;
  
  background-size: cover;
  background-repeat: no-repeat;
  
}



.img-title 
{
    
   font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: $title-font-size;
  font-weight: $title-font-weight;

  letter-spacing: .4px;

}

.img-text 
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:c;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
}




//Email form

.contact
{
  display: grid;
  font-family: $main-font; 
  background-color:$background-color;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  margin: 20px;
  position: left;
}

.contact-form h1
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: $title-font-size;
  font-weight: $title-font-weight;

  letter-spacing: .4px;

}

.contact-form h3
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:$text-font-size;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
}

.contact-form h2
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:20px;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
}

.mb-3
{
  display: grid;
  font-family: $main-font; 
  background-color:$background-color;
  

  

}

.form-label
{
  color: white;
  font-family: $main-font;
  
  
}



.form-control

{
  background-color:$matrix-green;
  color: white;
border-color:white;

}

.submit
{

  font-family: $main-font;
    color:white;
 
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  font-weight:$text-font-weight;
  letter-spacing: .5px;
  background-color: $matrix-green;
  padding:5px;
  border-radius: 8%;
 margin-top: 20px;
  


}














//Main image and caption 


h1{
  font-family: $main-font;
  color:white;
  display: block;
text-align: center;
line-height: 1.4;
font-size: 30px;
font-weight: $title-font-weight;

letter-spacing: .4px;
}
 
h2
{
  position: relative;
  font-family: $main-font;
  color:white;
  display: block;
text-align: center;
line-height: 1.4;
font-size: 20px;
font-weight: $title-font-weight;

letter-spacing: .4px;
}


    


//Navbar for bigger viewports










.img-text-me
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:40px;
  font-weight:100px;
  letter-spacing: .4px;
}



//Email form

.contact
{
  display: grid;
  font-family: $main-font; 
  background-color:$background-color;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  margin: 20px;
}









.code-img-title
 {
font-family: $main-font;
color:white;
display: block;
text-align: center;
line-height: 1.4;
font-size: 50px;
font-weight: $title-font-weight;

letter-spacing: .4px;
}

.coming-soon
{
    width: 700px;
    height: auto;
}

.img-title-scs
{
    
   font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: $title-font-size;
  font-weight: $title-font-weight;

  letter-spacing: .4px;

}

.img-text-scs
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:c;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
}




