.code-img-title
 {
font-family: $main-font;
color:white;
display: block;
text-align: center;
line-height: 1.4;
font-size: 50px;
font-weight: $title-font-weight;

letter-spacing: .4px;
}

.coming-soon
{
    width: 700px;
    height: auto;
}
