@media screen and (min-width: 576px)
{
  #java-info
  {
    margin-top:200px;
    padding-top:60px;
    padding: 20px;
  }

  .sendit
  {
    font-size:20px;
  }

 h2
 {
  font-size:27px;
 }
}



/* Medium devices ? min-width: 768px and up (small screen/laptops)*/
@media screen and (min-width: 768px) {

  .myBtn 
  {
    height:50%;
  }

  .myBtn-2
  {
    height:50%;
  }

.pages *
   {
    box-sizing: border-box;
    transition: all .35s ease;
   }

   .pages li
   {
    display: inline-block;
    list-style: outside none none;
  
    padding: 0;
  } 

  .pages a  {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }

  .pages a::before,
  .pages a::after 
  {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}


.pages a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translate(-100%, 50%);
}

.pages a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: translate(100%, -50%)
}

.pages a:hover:before,
.pages a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.pages a:hover {
  color: black;
}

.scroll-2
{
  margin-left:200px;
  width: calc(100vw - 200px);
}
.side-home
{
  color:white;
  font-size:80px;
  text-decoration:none;
}


  #canvas
  {
    margin-left:200px;
  }
  
  .pages
  {
  display: flex;
  flex-direction:column;
  gap:30px;
  margin-left:10%;
  }

  .in
  {
    width:100%;
  }

  .pages  a
  {
   padding: .5em .8em;
   color: white;
   position: relative;
   text-decoration: none;
   font-size: 20px;
  }

  
  fieldset
  {
    width:calc(100% - 200px);
    left:20%;
    padding-bottom:40px;
  }

  .scroll
  {
    margin-left:190px;
    top:0px;
    width: calc(100vw - 200px)

  }

  .caption-text-code
  {
    padding-top: 1800px;
  }

  

.javabtn:hover
{
  border-color: white;
}
  

.htmlbtn
{


 
  border:none;
  margin-right:10.5%;
  margin-left: 10%;
  margin-top: 20px;
  max-width: 40%;
 
 
  
 



}

.main-page
{
   
    visibility: hidden;
    padding-top:-110px;
    position:relative;
    width: 100%;
    height: 100%
    
  
}
.coding-title
{
  font-family: $main-font;
  color:white;
  display: block;
text-align: center;
line-height: 1.4;
font-size: 25px;
font-weight: 20px;
visibility: hidden;
letter-spacing: .4px;
margin-left:20px;
margin-right:30px;
margin-top:800px
}

.code-img
{
  
  
    display:inline-block;
    width:75%;
    text-align: center;
    z-index: 1;
    align-items: center;
    padding-left:12%

    

}

.netmatters
{
  
  margin-top:50%;
   
   
  
  
}



  .submit
  {
    margin-left: 35% ;
  }



  .dropbtn
{
display:none
 
  
}

.dropdown
{
  display: none;
}

  
  .caption-text
  { 
    
    position:relative;
    width: 100%;
    height: 100%;
    padding-left:50px;
    margin-left:10px;
    margin-top:-400px
    
  }

  .coding-title
{
  font-family: $main-font;
  color:white;
  display: block;
text-align: center;
line-height: 1.4;
font-size: 25px;
font-weight: 20px;
visibility: hidden;
letter-spacing: .4px;
margin-left:20px;
margin-right:30px;
margin-top:800px
}
  
  
   
    

  .caption-text-scs
{ 
  padding-top:600px;
  position:relative;
  width: 80%;
  height: 100%;
  margin: 10px;
  
}
 
 

 .hamburger {
  display:none}


  .sidebar
  {
    display: flex;
    position:fixed;
    width: 200px;
    height: 100%;
    background-color:$matrix-green;
    z-index:100;
     
  }

  .pages
  {
    padding-top: 0px;
    margin-top:-10px
  }

  .pages .nav-link-3
{
  padding-right:29px
}


.main-pages button
  {
    background-color: $matrix-green;
    border: none;
  
   
  }

 .main-pages
 {
  width: 200px;
  align-items: center;
 display: flex;
 flex-direction:column;
 gap:5%;
 margin:25px;
 }

 #contact
 {
  margin-top:250px;
 }

 .caption-text-about
 {
  margin-top:520px;
 }
 
 fieldset
 {
   align-items: center;
   padding-left: 30%;
   padding-right: 30%

 }

   
 .pages li
  {

    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content:flex-start;
     color:white;
     font-family: $main-font;
     font-size: $text-font-size;
     font-weight: 700;
     border-color: white;
     justify-content: space-between;
     padding:15px;
    margin-left: -15px;

    
     
    
     cursor: pointer
     
  
  }

  .linkbtn
  {
    width:31%;
    height:31%
  }

  .gitbtn
  {
    width:26%;
    height:26%
  }

  
  .main-pages button
  {
   text-decoration: none;
   color:white;
   font-family: $main-font;
   font-size: 95px;
   font-weight: 700;
   border-color: white;
   padding:30px;
   line-height:95px;
   cursor: pointer;
 
  }

  .name
  {
   background-color: transparent;
   border-color: white;
   padding:30px;
   text-decoration: none;
   width:200px;
   cursor: pointer;
  }

  .Main-page
  {
    display:block;
    margin-left:200px;
    z-index: 1;
    margin-top:0;
    align-items: center;
 

  }


  .nav-link-2, .nav-link-3, .nav-link-4, .nav-link-5, .nav-link-6
  {
    text-decoration: none;
    color: white;
    padding-left:15%;
  }
 
 
 



  .java-content
  {
  
    display:none;
   
    background-color: $matrix-green;
  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    color:black;
    padding: 16px;
    border:none;
    margin-top: 0px;
    
    font-size: $text-font-size;
    font-weight: $title-font-weight;
    font-family: $main-font;
    margin-left:1.75%;
    margin-top:0%;
    max-width: 90%;
    align-self: center;
  }
  

 


  .caption-text-scs
{
    display:flex;
    flex-direction: column;
    width:100%
    
}

 




  

  }


 
  .scroll-down
{
  position: absolute;
  top: 200%;
  left: 20%;
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  background-color: $matrix-green;
  font-weight:$text-font-weight;
  letter-spacing: .5px;
 
  padding:5px;
  border-radius: 8%;

  cursor: pointer;
  

}






 



  
     
     .main-image 
 {
  width:100%;
  
  

 }






    
    












   


 
 

  


   
  

  
  
    

    





 



 
  
  .pages
  {
    
    padding:10px;
   

  }



  





  



  
  .page-image {

    width: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(0.5);
  
   

}
  






  .caption-text-scs
{
    display:flex;
    flex-direction: column;
    
}

 




  

  


 
  .scroll-down
{
  position: absolute;
  top: 200%;
  left: 20%;
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  background-color: $matrix-green;
  font-weight:$text-font-weight;
  letter-spacing: .5px;
 
  padding:5px;
  border-radius: 8%;

  cursor: pointer;
  

}






 



  
    
     .main-image 
 {
  width:100%;
  
  @include image-padding;

 }


    .initial 
    {
     text-decoration: none;
     color:white;
     font-family: $main-font;
     font-size: 95px;
     font-weight: 700;
     border-color: white;
     padding:30px;
     line-height:95px;
     cursor: pointer
    }


    
    











   


  .scroll-page
  {
    flex-direction: column;
    display: flex;
    width: calc(100% - 200px);
  }

 

  


   
  

  
  
    

     .name
     {
      background-color: transparent;
      border-color: white;
      padding:30px;
      
      width:200px;
      cursor: pointer;
     }

     

/* Large devices ? min-width: 992px and up(small Desktop)*/
@media screen and (min-width: 992px) {

  .b-ground
  {
    width: 100%;
  }

  .holder
  {
    max-width:1180px;
  }


  #canvas
  {
    margin:0px;
    width:-webkit-fill-available;
  }
  .scroll
  {
    
    margin:0px;
  };

 .sidebar
  {display: none;
  }

  .pages
  {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap:30px;
  }

  .main-pages
  {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  }

.caption-text-code
{
  padding-top:1400px;
}

.netmatters
{
  padding-top: 80px;
}

.netbtn
{
  margin-left: 10%;
  margin-right:10%;
}
.caption-text-scs
{
  padding-top:300px
}
}

/* Large devices ? min-width: 1025px and up(small Desktop)*/
@media screen and (min-width: 1025px) 
{

  .caption-text-code
{ 
 
  display:flex;
  padding-top: 1300px ;
  position:relative;
  width: 100%;
  height: 100%;
 margin-right: 10px;
  margin-left:10px;
  
}
  .netmatters
  {
    display:inline-block;
    width:100%;
    text-align: center;
    z-index: 1;
    align-items: center;
    margin-top:110%;
    margin-left:-8%
    
  }
  .caption-text
  { 
    
    position:relative;
    width: 100%;
    height: 100%;
   padding-left:1px;
  
    margin-top:30px;
    
  } 

  
.caption-text-scs
{ 
  margin-top:30px;
  visibility: hidden;
  padding-top:300px;
  position:relative;
  width: 100%;
  height: 100%;
 
  
}

.caption-text-port
{
  position:relative;
  width: 100%;
  height: 100%;
  padding-left:50px;
  margin-left:80px;
  margin-top:-400px
}

.submit
{
  margin-left:40%;
}

}


    

   





  

    
  
   
  
  
  
     
    
  
    
    

    
     
      
      
  
 
    
     
  
  
  
  
  

  
