@media screen and (min-width: 576px)
{

  .caption-text-about
  {
    margin-top:-70px;
  }
   .btn-box
   {
    padding-left:10%
   }
  .caption-text-index
  {
    margin-top:190px;
  }

  .wordbtn
  {
    height:40%;
  }

  .javabtn-2, .sqlbtn, .htmlbtn
  {
    height:250px;
  }

  .htmlbtn
  {
    margin-top:0px;
  }

  .html-code
  {
    margin-top:0px;
  }

  .portfolio
  {
   
    max-width:1080px;
  }

  #java-info
  {
    margin-top:200px;
    padding-top:60px;
    padding: 20px;
  }

  .sendit
  {
    font-size:20px;
    max-width:1080px;
  }

 h2
 {
  font-size:27px;
 }
 .j-snip, .sql-snip, .html-snip, .php-snip, .word-snip
 {
  height:fit-content;
 } 

 .dots img
 {
  width:50px;
 }

 #coding
 {
  margin-top:10px;
 }

 .net-pop
 {
  padding-left:20px;
  padding-right:20px;
  padding-top:0px;
 }
}



/* Medium devices ? min-width: 768px and up (small screen/laptops)*/
@media screen and (min-width: 768px) 
{

  #former
  {
    margin-top:0px;
  }

  .scs-scheme
  {
    margin-top:100px;
    width:100%
  }

 

  .j-desc
  {
    gap:30px
  }
   
  .caption-text-index
  {
    margin-top:220px;
  }

    #back
  {
    display:block;
    padding:5px;
  }
  
  .pages
  {
    margin-left:0%;
  }

  .pages 
    {
      box-sizing: border-box;
      transition: all .35s ease;
    }

   .pages li
   {
    display: inline-block;
    list-style: outside none none;
  
    padding: 0;
  } 

  .pages a  {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }

  .pages a::before,
  .pages a::after 
  {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
 }


  .pages a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: translate(-100%, 50%);
  }

  .pages a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: translate(100%, -50%)
  }

  .pages a:hover:before,
  .pages a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }

  .pages a:hover {
    color: black;
  }


  .side-home
  {
    color:white;
    font-size:80px;
    text-decoration:none;
  }



  
  .pages
  {
  display: flex;
  flex-direction:column;
  gap:5px;

  }

  .portfolio
  {
    margin-top:-10px;
  }

  .in
  {
    width:100%;
  }

  .pages  a
  {
   padding: .5em .8em;
   color: white;
   position: relative;
   text-decoration: none;
   font-size: 20px;
  }

  
  fieldset
  {
    width:calc(100% - 200px);
    left:20%;
    padding-bottom:40px;
  }

  .scroll
  {
   
    top:0px;
    height:100%;
    

  }

  .caption-text-code
  {
    padding-top: 1800px;
  }

  

  .javabtn:hover
  {
    border-color: white;
  }
  


  .main-page
  {
    
      visibility: hidden;
      padding-top:-110px;
      position:relative;
      width: 100%;
      height: 100%
      
    
  }
  .coding-title
  {
    font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 20px;
  visibility: hidden;
  letter-spacing: .4px;
  margin-left:20px;
  margin-right:30px;
  margin-top:800px
  }

  .code-img
  {
    
    
      display:inline-block;
      width:75%;
      text-align: center;
      z-index: 1;
      align-items: center;
      padding-left:12%

      

  }

  .netmatters
  {
    
    margin-top:50%;
    
    
    
    
  }



  .submit
  {
    margin-left: 35% ;
  }





  
  .caption-text
  { 
    
    position:relative;
    width: 100%;
    height: 100%;
    padding-left:50px;
    margin-left:10px;
    margin-top:-400px
    
  }

    .coding-title
  {
    font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 20px;
  visibility: hidden;
  letter-spacing: .4px;
  margin-left:20px;
  margin-right:30px;
  margin-top:800px
  }


  
  
   
    

    .caption-text-scs
  { 
    padding-top:600px;
    position:relative;
    width: 80%;
    height: 100%;
    margin: 10px;
    
  }
 
 

 .hamburger {
  display:none}


  .sidebar
  {
    display: none;
    position:fixed;
    width: 200px;
    height: 100%;
    background-color:$matrix-green;
    z-index:100;
     
  }

  .pages
  {
    padding-top: 0px;
    margin-top:-10px
  }

    .pages .nav-link-3
  {
    padding-right:29px
  }


  .main-pages button
    {
      background-color: $matrix-green;
      border: none;
    
    
    }

 .main-pages
 {
  width: 200px;
  align-items: center;
 display: flex;
 flex-direction:column;
 gap:5%;
 margin:25px;
 }

 #contact
 {
  padding-top:20px;
  margin-top:60px;
 }

 .border
 {
  margin-top:10px;
 }
 
 
 fieldset
 {
   align-items: center;
   padding-left: 30%;
   padding-right: 30%

 }

 .socials
 {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:0px;
 }

   
 .pages li
  {

    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content:flex-start;
     color:white;
     font-family: $main-font;
     font-size: $text-font-size;
     font-weight: 700;
     border-color: white;
     justify-content: space-between;
     padding:10px;
    margin-left: -15px;

    
     
    
     cursor: pointer
     
  
  }

  .linkbtn
  {
    width:31%;
    height:31%
  }

  .gitbtn
  {
    width:26%;
    height:26%
  }

  
  .main-pages button
  {
   text-decoration: none;
   color:white;
   font-family: $main-font;
   font-size: 95px;
   font-weight: 700;
   border-color: white;
   padding:30px;
   line-height:95px;
   cursor: pointer;
 
  }

  .name
  {
   background-color: transparent;
   border-color: white;
   padding:30px;
   text-decoration: none;
   width:200px;
   cursor: pointer;
  }

  .Main-page
  {
    display:block;
    margin-left:200px;
    z-index: 1;
    margin-top:0;
    align-items: center;
 

  }
  .coding
  {
    padding:0px;
  }
  .c-buttons
  {
    margin-top: -120px;
    flex-direction:row;
    gap:0px;
    margin-top:10px;
  }
   
  .scheme
  {
    flex-direction:row;
  }
  .btn-box-2
  {
    margin-top: 40px;
  }
  .htmlbtn, .phpbtn,  .javabtn-2, .sqlbtn 
  {
    width:400px;
    margin-top: 10px;
    height:350px;
    
  }

  #coding
  {
    margin-top:40px;
  }

  .caption-text-about
  {
    margin-top:-10px;
  }


  .nav-link-2, .nav-link-3, .nav-link-4, .nav-link-5, .nav-link-6
  {
    text-decoration: none;
    color: white;
    padding-left:15%;
  }
 
 
 



  .java-content
  {
  
    display:none;
   
    background-color: $matrix-green;
  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    color:black;
    padding: 16px;
    border:none;
    margin-top: 0px;
    
    font-size: $text-font-size;
    font-weight: $title-font-weight;
    font-family: $main-font;
    margin-left:1.75%;
    margin-top:0%;
    max-width: 90%;
    align-self: center;
  }
  

 


    .caption-text-scs
  {
      display:flex;
      flex-direction: column;
      width:100%
      
  }

 




  

  


  
    .scroll-down
  {
    position: absolute;
    top: 200%;
    left: 20%;
    font-family: $main-font;
      color:white;
      display: block;
    text-align: center;
    line-height: 1.4;
    font-size: 25px;
    background-color: $matrix-green;
    font-weight:$text-font-weight;
    letter-spacing: .5px;
  
    padding:5px;
    border-radius: 8%;

    cursor: pointer;
    

  }






 



  
     
     .main-image 
 {
  width:100%;
  
  

 }


  .pages
  {
    
    padding:10px;
   

  }

   
    .page-image {

      width: 100%;
      object-fit: cover;
      position: relative;
      filter: brightness(0.5);
    
    

  }
    

    .caption-text-scs
  {
      display:flex;
      flex-direction: column;
      
  }

 
    .scroll-down
  {
    position: absolute;
    top: 200%;
    left: 20%;
    font-family: $main-font;
      color:white;
      display: block;
    text-align: center;
    line-height: 1.4;
    font-size: 25px;
    background-color: $matrix-green;
    font-weight:$text-font-weight;
    letter-spacing: .5px;
  
    padding:5px;
    border-radius: 8%;

    cursor: pointer;
    

  }

  
    
     .main-image 
 {
  width:100%;
  
  @include image-padding;

 }


    .initial 
    {
     text-decoration: none;
     color:white;
     font-family: $main-font;
     font-size: 95px;
     font-weight: 700;
     border-color: white;
     padding:30px;
     line-height:95px;
     cursor: pointer
    }

  .scroll-page
  {
    flex-direction: column;
    display: flex;
    width: calc(100% - 200px);
  }

     .name
     {
      background-color: transparent;
      border-color: white;
      padding:30px;
      
      width:200px;
      cursor: pointer;
     }

     #myBtn-10 h1
     {
      font-size:15.5px;
     }

  
     
}
    

/* Large devices ? min-width: 992px and up(small Desktop)*/
@media screen and (min-width: 992px)
 {

  .net-pop
  {
    display:none
  }

  .caption-text-about
  {
   margin-top: -20px;
  }


  #contact
  {
    padding-top:0px;
  }

  


  .dropdown
  {
    display:none;
  }
  .close-w
  {
    z-index:300;
  }

  .sendit
  {
    flex-direction: row;
    width:80%;
    gap:10px;
  }

  .pages
  {
    top:0;
  }

  .sendit h1, h2
  {
    font-size:25px;
  }

  .gitbtn
  {
    height:100px;
    width:100px;
    margin-top:-30px;
  }
  .pages li 
  {
    margin-left:0px;
    display:block;
  };
  #glitch
  {
    padding-top:150px;
  }

  .port-box
  {
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    width:100%
  }
  


  
  .scroll-2
  {
    padding-top:10px;
    margin-left:0px;
    width:100%;
    height:100%;
    z-index:500;
  }
  
  .modal-content-3, .modal-content-5, .modal-content-w
  {
    margin-top:165px
  }

  .modal-content-10, .modal-content-11, .modal-content-33
  {
 
    margin-right:auto;
    margin-left: auto;
  }

 
  .portfolio-info
  {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    
   
  }



 
  .wordbtn
  {
    height:30%;
  }
  .portfolio-info-2
  {
    display: flex;
    flex-direction:column;
    align-items: center;
    width:100%;
  }

  .Wordpress
  {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
  }

  .netbtn
  {
    background-color:$matrix-green ;
    
    padding: 16px;
    
    text-align: center;
    margin-left: 10%;
    margin-top: 40px;
    font-size: $text-font-size;
    font-weight: $title-font-weight;
    font-family: $main-font;
    display: block;
    max-width: 80%;
    align-self: center;
  }

  .word-pop
  {
    display:none;
  /*display:flex;
  color: white;
  padding: 18px;
  font-size: 18px;
  margin-top:-8px;*/
  }
  


  .javabtn, .netbtn, .wordbtn
  {width:80%;
    margin:0px;
    margin-top:20px;
    background-color:$matrix-green ;
    padding: 16px;
    text-align: center;
    font-size: $text-font-size;
    font-weight: $title-font-weight;
    font-family: $main-font;
    display: flex;
    max-width: 80%;
    align-self: center;
    height:130px;

  }
    
  .portfolio
  {
   width: 100%;
  }

  h1.java-1, h1.word-1
  {
    font-size:25px;
    margin-bottom:20px;
  }

  h1.html
  {
    font-size:20px;
  } 

 
  .me
  {
    display: flex;
    flex-direction:row;
    max-width:1080px;
    
  }

  .side-home
  {
    display:none;
  }



  .b-ground
  {
    width: 100%;
  }

  .holder
  {
    //max-width: 1180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cyberpunk glitched:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.cyberpunk glitched:hover span{
  animation-play-state: paused;
}

  


  #canvas
  {
    margin:0px;
    width:100%;
    height:100%;
  }
  .scroll
  {
    width:80%;
    margin:auto;
  }

  #large
  {
    display:flex;
  }

  #large h1
  {
    font-size:25px;
  }

  #small
  {
    display:none;
  }

 .sidebar
  {display: flex;
    height: 150px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: auto;

    background-color: rgba(0,0,0,.4);
    padding-top:20px;
  }

  
  #port
  {
   margin-top:100px
  }

  #former
  {
    margin-top: 90px;
  }

  #coding
  {
    margin-top:210px;
  }

  #scheming
  {
   margin-top:30px;
  }
   .scheme
   {
    flex-direction:row;
    max-width:1080px;
   }
   .details
   {
    width:30%
   }

   .email-box-2
   {
    width:70%;
   }
  
  #java-dot, #sql-dot,#html-dot, #php-dot, #word-dot
  {
    display: none;
  }
  #java-dot-2, #sql-dot-2, #html-dot-2, #php-dot-2, #word-dot-2
  {
    display: block;
  }



  #schemed
  {
    padding-top:110px;
  }



  .portfolio-info-2
  {
    width:33%;
  }

  .Wordpress
  {
    width:100%;

  }

  #myBtn-3, #myBtn-4, #myBtn-5, #myBtn-l, #myBtn-w
  {
    margin:0px;
    height:280px;
    display: flex;
    flex-direction: column;
  }

  .pages li
  {
    background-color: transparent;
    border:none;
    margin-top:-50px;
    box-shadow: none;
  };

  .pages
  {
     margin:0px;
     padding:0px;
  }
  .main-pages {
   
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
 
    width: auto;
    max-width: 1180px;
  }
  .pages
  {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:30px;
    width: 80%;
  }

  .socials
  {
    display:none;
  }


.caption-text-code
{
  padding-top:1400px;
}

.caption-text-index
{
  margin-top:290px;
}

.dots img
{
  width:120px;
}

.dots
{
  height:150px;
}
.btn-box, .btn-box-2
{
  width:100%;
  justify-content:center ;
  gap:60%;
}
.c-buttons
{
  margin-top:0px;
  margin-left:-80px;
  gap:5px;
  max-width:1080px;
}

.netmatters
{
  padding-top: 80px;
}

.caption-text-scs
{
  padding-top:300px
}

.slideshow-container-fade
{
  display:none;
}
 }

/* Large devices ? min-width: 1025px and up(small Desktop)*/
@media screen and (min-width: 1025px) 
{
  .portfolio-info h1
   {
    margin:10px;
   }

   .portfolio-info
   {
    display:grid;
    grid-template-rows: auto auto auto auto;
   }

  .scheme
  {
    gap:10%;
  }
  
  .javabtn, .netbtn, .wordbtn
  {
    height: 120px;
  }
  .scroll-2
  {
    margin-top:-40px;

  }

  .modal-content-3, .modal-content-5, .modal-content-w
  {
    max-width: 1000px;
    z-index:300;
    margin-top:50px;
  }

  .caption-text-about
  {
    margin-top:50px;
  }
  #glitch
  {
    padding-top:110px;
  }

  #contact
  {
    padding-top:30px;
  }

  .caption-text-index
  {
    margin-top:300px;
  }

  .pages li
  {
    padding:0px;
  }

 

  .dots img 
   {
    width:140px;
   }

   .c-buttons
   {
    gap:24px;
    margin-top:0px;
   }

   .btn-box-2 
   {
    justify-content: space-around;
    gap:0px;
    margin:0px;
   }
  .caption-text-code
{ 
 
  display:flex;
  padding-top: 1300px ;
  position:relative;
  width: 100%;
  height: 100%;
 margin-right: 10px;
  margin-left:10px;
  
}
  .netmatters
  {
    display:inline-block;
    width:100%;
    text-align: center;
    z-index: 1;
    align-items: center;
    margin-top:110%;
    margin-left:-8%
    
  }
  .caption-text
  { 
    
    position:relative;
    width: 100%;
    height: 100%;
   padding-left:1px;
  
    margin-top:30px;
    
  } 

  
.caption-text-scs
{ 
  margin-top:30px;
  visibility: hidden;
  padding-top:300px;
  position:relative;
  width: 100%;
  height: 100%;
 
  
}

.caption-text-port
{
  position:relative;
  width: 100%;
  height: 100%;
  padding-left:50px;
  margin-left:80px;
  margin-top:-400px
}

.submit
{
  margin-left:40%;
}

}


@media screen and (min-width: 1260px)
{
  .scheme
  {
    margin-left:5%;
    margin-right:5%;
  }

  .javabtn, .netbtn, .wordbtn
  {
    height: 150px;
  }
  .caption-text-index
  {
   margin-top:280px;
  }
} 

    

   





  

    
  
   
  
  
  
     
    
  
    
    

    
     
      
      
  
 
    
     
  
  
  
  
  

  
