

.img-title-scs
{
    
   font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size: $title-font-size;
  font-weight: $title-font-weight;

  letter-spacing: .4px;

}

.img-text-scs
{
  font-family: $main-font;
    color:white;
    display: block;
  text-align: center;
  line-height: 1.4;
  font-size:c;
  font-weight:$text-font-weight;
  letter-spacing: .4px;
}
